.carrossel__titulo{
    background-color: var(--branco);
    color: var(--cor-laranja);
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 700;
    padding: 1em 0em 0.5em 0em;
}

.swiper-wrapper img{
    width: 100%;
}

.swiper-button-prev, .swiper-button-next{
    display: none;
}

.swiper-pagination{
    position: initial;
    margin: 0.5em 0;
}

.card{
    border-radius: 25px;
    background: var(--branco);
    margin: 1em;
    padding: 1.5em;
    width: auto;
    height: auto;
    display: flex;
    justify-content: space-between;
}

.card__descricao{
    margin: 0.5em 0;
}

.card__descricao__titulo{
    color: var(--cor-laranja);
    font-weight: 700;
    font-size: 16px;
    
}

.card__descricao__nomeLivro{
    color: var(--cor-azul-marinho);
    font-weight: 700;
    font-size: 18px;
    padding: 0.8em 0;
}

.card__descricao__paragrafo{
    color: var(--preto);
    font-size: 14px;
    
}

.card__img{
    margin-left: 0.2em;
}

.card__icones{
    padding: 0.5em 0;
}

.card__img__angular{
    width: auto;
    padding: 0 0 2em 0;
}

.card__img__saibaMais{
    text-decoration: none;
    padding: 1em 2.2em;
    color: var(--branco);
    background-color: var(--cor-laranja);
    border: 1px solid var(--cor-laranja);
}