.contato{
    background-color: var(--branco);
    padding: 1em;
}

.contato__titulo{
    font-size: 18px;
    color: var(--cor-azul-marinho);
    font-weight: 700;
}

.contato__txt{
    font-size: 16px;
    color: var(--cor-azul-marinho);
    font-weight: 300;
    margin: 1em 0;
}

.contato__email{
    background-color: transparent;
    border: 2px solid var(--cor-azul-marinho);
    padding: 1em;
    border-radius: 2em;
    width: 90%;
    color: var(--cor-azul-marinho);
}

.contato__email::placeholder{
    font-family: var(--font-poppins);
    color: var(--cor-azul-marinho);
    font-weight: 700;
    background-image: url(../img/Email.svg);
    background-repeat: no-repeat;
    padding-left: 3em;
    padding-top: 0.2em;
}